.App {
  text-align: center;
}

.scale-select {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 3rem;
}
.scale-select select {
	width: 250px;
	height: 30px;
	border: 0;
	border-radius: 5px;
	padding: 0 10px;
}
.scale-select p {
	color: #fff;
}
h3 {
	color: #fff;
}
label {
	color: #fff;
}
main {
	background-color: #222222;
	padding: 2rem 1rem;
	min-height: calc(80vh - 4rem);
	/* background: url(./background.jpg) no-repeat center center fixed; ; */
}
button {
	padding: 3px 6px;
	background-color: #fff;
	color: #222222;
	border: 0;
	border-radius: 3px;
}

